[package]
name = "sos-net"
version = "0.16.0"
edition = "2021"
description = "Networking library for the Save Our Secrets SDK."
homepage = "https://saveoursecrets.com"
license = "MIT OR Apache-2.0"
repository = "https://github.com/saveoursecrets/sdk"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
full = [
  "account",
  "audit",
  "archive",
  "contacts",
  "files",
  "hashcheck",
  "listen",
  "migrate",
  "pairing",
  "preferences",
  "search",
  "security-report",
  "keychain-access",
  "system-messages",
  "clipboard",
]

account = ["sos-sdk/account"]
listen = ["dep:tokio-tungstenite", "sos-protocol/listen"]
hashcheck = []
audit = ["sos-sdk/audit"]
archive = ["sos-sdk/archive", "sos-protocol/archive"]
files = ["sos-sdk/files", "sos-protocol/files"]
contacts = ["sos-sdk/contacts", "sos-protocol/contacts"]
migrate = ["sos-sdk/migrate", "sos-protocol/migrate"]
keychain-access = ["sos-sdk/keychain-access"]
recovery = ["sos-sdk/recovery"]
pairing = ["dep:snow", "sos-protocol/pairing"]
search = ["sos-sdk/search", "sos-protocol/search"]

preferences = ["sos-account-extras/preferences"]
security-report = ["sos-account-extras/security-report"]
system-messages = ["sos-account-extras/system-messages"]
clipboard = ["sos-account-extras/clipboard"]

[dependencies]
tokio-util.workspace = true
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
async-trait.workspace = true
async-recursion.workspace = true
http.workspace = true
serde_json.workspace = true
serde.workspace = true
uuid.workspace = true
hex.workspace = true
sha3.workspace = true
secrecy.workspace = true
serde_with.workspace = true
rand.workspace = true
url.workspace = true
futures.workspace = true
bs58.workspace = true
urlencoding.workspace = true
indexmap.workspace = true
async-stream = "0.3"
colored = "2"
binary-stream.workspace = true
rs_merkle.workspace = true
prost.workspace = true

# pairing
snow = { version = "0.9", optional = true }

reqwest = { version = "0.12.5", default-features = false, features = ["json", "rustls-tls", "stream"] }
tokio = { version = "1", features = ["rt", "rt-multi-thread", "sync"] }
tokio-tungstenite = { version = "0.24", features = ["rustls-tls-webpki-roots"] , optional = true}

[dependencies.sos-sdk]
workspace = true

[dependencies.sos-protocol]
version = "0.16"
path = "../protocol"
features = ["account", "local-integration"]

[dependencies.sos-account-extras]
version = "0.16"
path = "../account_extras/"
optional = true

[dev-dependencies]
anyhow = "1"

[build-dependencies]
rustc_version = "0.4.1"
