[package]
name = "sos_test_utils"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
secrecy.workspace = true
serde_json.workspace = true
futures.workspace = true
tempfile.workspace = true

axum-server.workspace = true
tokio-rustls.workspace = true
rustls.workspace = true

anyhow = "1"
sos-net = { path = "../net", features = ["full"] }
sos-server = { path = "../server" }
tokio = { version = "1", default-features = false, features = ["rt", "fs", "io-util", "sync"] }
pretty_assertions = "1.4"
copy_dir = "0.1"

