[workspace]
resolver = "2"
members = [
  "crates/account_extras",
  "crates/artifact",
  "crates/cli_helpers", 
  "crates/keychain_parser",
  "crates/integration_tests",
  "crates/ipc",
  "crates/net",
  "crates/protocol",
  "crates/sdk",
  "crates/server",
  "crates/sos",
  "crates/test_utils",
  "crates/vfs", 
]

[workspace.dependencies]
sos-sdk = { version = "0.16", path = "crates/sdk" }
sos-vfs = { version = "0.2.2", path = "crates/vfs" }

csv-async = { version = "1", features = ["tokio", "with_serde"] }
thiserror = "1"
anyhow = "1"
tracing = "0.1"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
secrecy = { version = "0.10", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros", "time", "sync"]}
serde_json = "1"
serde_with = { version = "3", features = ["base64"] }
tokio-util = { version = "0.7", default-features = false, features = ["io", "compat"] }
async-trait = "0.1"
async-recursion = "1"
typeshare = "1"
http = "1"
uuid = { version = "1", features = ["serde", "v4"] }
hex = { version = "0.4", features = ["serde"] }
k256 = { version = "0.13.1", features = ["ecdsa"] }
# matches the version in k256
sha1 = "0.10.6"
sha2 = "0.10.6"
sha3 = "0.10.6"
once_cell = "1"
rand = "0.8"
url = { version = "2", features = ["serde"] }
time = { version = "0.3.19", features = ["serde-human-readable", "local-offset", "wasm-bindgen"] }
futures = "0.3"
bs58 = "0.4"
urlencoding = "2"
parking_lot = "0.12"
indexmap = { version = "2.2", features = ["serde"] }
toml = "0.8"
bitflags = { version = "2", features = ["serde"] }
enum-iterator = "2"
file-guard = "0.2"
tempfile = "3.5"
prost = "0.13"
clap = { version = "4.3.19", features = ["derive", "wrap_help", "env"] }
colored = "2"
arboard = { version = "3", default-features = false }
zeroize = "1"
bytes = "1.8"

axum-server = { version = "0.7", features = ["tls-rustls-no-provider"] }
tokio-rustls = { version = "0.26", default-features = false, features = ["tls12"] }
rustls = { version = "0.23", default-features = false, features = ["ring"] }

[workspace.dependencies.rs_merkle]
version = "1.4.2"

[workspace.dependencies.binary-stream]
version = "9.1.0"
features = ["async"]
#path = "../../../../binary-stream"

[profile.release]
codegen-units = 1
lto = true
strip = true
opt-level = "z"
