[config]
default_to_workspace = false
skip_core_tasks = true

[env]
RUST_BACKTRACE = 0
BUILD_TARGET = "${CARGO_MAKE_RUST_TARGET_TRIPLE}"
# Increase time for integration tests as the CLI
# tests take a while due to so many exec calls
RUST_TEST_TIME_INTEGRATION = "120000,240000"

[tasks.publishers]
command = "cargo"
args = [
  "supply-chain",
  "publishers",
]

[tasks.typegen]
script = '''
RUST_LOG=debug typeshare \
  crates/account \
  crates/core \
  crates/database \
  crates/login \
  crates/ipc \
  crates/protocol \
  crates/search \
  crates/vault \
  --lang=typescript \
  --output-file=packages/types/types.ts \
    && cat packages/types/preamble.ts packages/types/types.ts > packages/types/index.ts
cd packages/types && npm run fmt && npm run lint
'''

[tasks.format]
workspace = true
command = "cargo"
args = ["fmt"]

[tasks.wasm]
command = "cargo"
args = [
  "check",
  "-p",
  "sos-web",
  "--features",
  "contacts,search",
  "--target",
  "wasm32-unknown-unknown",
]

[tasks.format-check]
command = "cargo"
args = ["fmt", "--all", "--", "--check"]

[tasks.clippy]
workspace = true
command = "cargo"
args = ["clippy", "--all-features"]

[tasks.debug]
command = "cargo"
args = ["build"]

[tasks.release]
command = "cargo"
args = ["build", "--bins", "--all", "--release"]

[tasks.clean-doc]
command = "cargo"
args = [
  "clean",
  "--doc",
]

[tasks.unused]
command = "cargo"
toolchain = "nightly"
args = [
  "udeps",
  "--all-targets",
]

[tasks.doc]
toolchain = "nightly"
command = "cargo"
args = [
  "doc",
  "--workspace",
  "--all-features",
  "--open",
  "--no-deps",
  "--exclude",
  "sos-vfs",
]
dependencies = ["clean-doc"]

[tasks.unit]
command = "cargo"
args = ["test", "-p", "sos-unit-tests", "--lib"]

[tasks.clean-cli]
script_runner = "@shell"
script = '''
rm -rf target/accounts
rm -rf target/demo
mkdir -p target/accounts
mkdir -p target/demo
'''

[tasks.test-command-line]
script_runner = "@shell"
script = '''
export SOS_TEST=1
export PATH="../../target/debug:$PATH"
cargo nextest run command_line -p sos-command-line-tests \
  --nocapture --profile cli
'''
dependencies = ["clean-cli", "debug"]

[tasks.test-cli]
script = { file = "./tests/command_line/runner/specs.sh" }
dependencies = ["clean-cli", "debug" ]

[tasks.test-shell]
script = { file = "./tests/command_line/runner/shell.sh" }
dependencies = ["clean-cli", "debug"]

[tasks.demos]
script = { file = "./tests/command_line/runner/demos.sh" }
dependencies = ["clean-cli"]

# build test helper executables
[tasks.build-test]
command = "cargo"
args = ["build", "-p", "sos-integration-tests"]

[tasks.clean-tests]
script_runner = "@shell"
script = '''
mkdir -p target/integration-test
rm -rf target/integration-test
'''

[tasks.test]
script_runner = "@shell"
script = '''
cargo nextest run -p sos-integration-tests -p sos-unit-tests
'''
dependencies = ["clean-tests", "build-test"]

[tasks.test-all]
script_runner = "@shell"
script = '''
cargo nextest run \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 cargo nextest run \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_SERVER_DB=1 cargo nextest run \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 SOS_TEST_SERVER_DB=1 cargo nextest run \
  -p sos-integration-tests -p sos-unit-tests
'''
dependencies = ["clean-tests", "build-test"]

[tasks.ci]
script_runner = "@shell"
script = '''
cargo nextest run --profile ci \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 cargo nextest run --profile ci \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_SERVER_DB=1 cargo nextest run --profile ci \
  -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 SOS_TEST_SERVER_DB=1 cargo nextest run --profile ci \
  -p sos-integration-tests -p sos-unit-tests
'''
dependencies = ["clean-tests", "build-test"]

[tasks.cover]
script_runner = "@shell"
script = '''
cargo llvm-cov clean --workspace
cargo llvm-cov nextest \
  --no-report -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 cargo llvm-cov nextest \
  --no-report -p sos-integration-tests -p sos-unit-tests
SOS_TEST_SERVER_DB=1 cargo llvm-cov nextest \
  --no-report -p sos-integration-tests -p sos-unit-tests
SOS_TEST_CLIENT_DB=1 SOS_TEST_SERVER_DB=1 cargo llvm-cov nextest \
  --no-report -p sos-integration-tests -p sos-unit-tests
cargo llvm-cov report --html
'''
dependencies = ["clean-tests"]
