[package]
name = "sos-server-storage"
version = "0.17.4"
edition = "2021"
description = "Server storage for the Save Our Secrets SDK."
homepage = "https://saveoursecrets.com"
license = "AGPL-3.0-or-later"
repository = "https://github.com/saveoursecrets/sdk"

[features]
full = ["audit", "files"]
audit = ["sos-audit", "sos-backend/audit"]
files = [
  "sos-external-files/files",
  "sos-backend/files",
  "sos-core/files",
  "sos-protocol/files",
  "sos-reducers/files",
  "sos-sync/files",
]

[dependencies]
sos-core.workspace = true
sos-backend.workspace = true
sos-database.workspace = true
sos-filesystem.workspace = true
sos-protocol.workspace = true
sos-reducers.workspace = true
sos-signer.workspace = true
sos-sync.workspace = true
sos-vault.workspace = true
sos-vfs.workspace = true

sos-audit = { workspace = true, optional = true }
sos-external-files = { workspace = true, optional = true }

thiserror.workspace = true
tracing.workspace = true
tokio.workspace = true
indexmap.workspace = true
uuid.workspace = true
async-trait.workspace = true
secrecy.workspace = true
sha2.workspace = true
serde.workspace = true
futures.workspace = true
binary-stream.workspace = true
