[package]
name = "sos-vfs"
version = "0.3.2"
edition = "2024"
description = "Virtual file system same as tokio::fs."
homepage = "https://saveoursecrets.com"
license = "MIT OR Apache-2.0"
repository = "https://github.com/saveoursecrets/sdk"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
mem-fs = []

[dependencies]
bitflags.workspace = true
futures.workspace = true
parking_lot.workspace = true
async-recursion.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { workspace = true, features = ["rt", "sync"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["rt", "fs", "sync", "io-util", "macros"] }

[dev-dependencies]
anyhow.workspace = true
