[package]
name = "sos-integration-tests"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[features]
default = []
enable-cli-tests = []

[dev-dependencies]
binary-stream.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
serde_json.workspace = true
thiserror.workspace = true
async-recursion.workspace = true
futures.workspace = true
parking_lot.workspace = true
once_cell.workspace = true
serde.workspace = true
clap.workspace = true
indexmap.workspace = true
tokio.workspace = true
anyhow.workspace = true
secrecy.workspace = true
http.workspace = true

sos-ipc = { path = "../ipc" }
sos-server = { path = "../server" }
sos-test-utils = { path = "../test_utils" }

copy_dir = "0.1"
maplit2 = "1"
tempfile = "3.5"
kdam = { version = "0.5", features = ["rich", "spinner"] }
pretty_assertions = "1.4"
anticipate-runner = { version = "0.5.1" }

[dev-dependencies.sos-net]
features = ["full"]
path = "../net"

